[submodule "uap-python"]
	path = uap-python
	url = git@github.com:ua-parser/uap-python.git
[submodule "python-user-agents"]
	path = python-user-agents
	url = https://github.com/selwin/python-user-agents.git
